<div class="location" (click)="locationTextSelected()">
    <h1>{{ locationDisplayText }}</h1>
    <div class="location-input-field-container">
        <input type="text" class="location-input-field"
        value="{{location}}"
        (keyup)="onlocationInputFieldTextChange($event)"
        (focusout)="onlocationInputFieldTextFocusOut()" #locationInputField />
    </div>
</div>

<ul *ngIf="locationSuggestions.length > 0 && locationTextFieldSelected" class="suggestion-container">
    <li class="suggestion-item" *ngFor="let locationSuggestion of locationSuggestions"
    (click)="placeSelected(locationSuggestion)" >
        {{locationSuggestion.name}}
    </li>
</ul>